.todo {
  &__button {
    user-select: none;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: var(--dark);
    color: var(--white);
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
  }
  &__buttons {
    display: flex;
    gap: 20px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    color: var(--white);
    background: var(--dark);
    padding: 16px 16px 16px 30px;
    font-size: 20px;
    border-radius: 5px;
    width: 90%;
    height: 80px;
  }
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
