.post {
  margin: 0 0 30px 0;
  text-align: left;
  border-bottom: 1px solid var(--dark);
  &__title {
    font-size: 33px;
    text-transform: capitalize;
    padding: 0 0 0 30px;
    font-weight: 600;
    color: var(--dark);
    position: relative;
  }
  &__title::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 50px;
    width: 5px;
    background: var(--dark);
  }
  &__text {
    font-size: 20px;
    font-weight: 300;
    margin: 15px 0;
  }
  &__more {
    font-size: 25px;
    text-decoration: none;
    color: var(--dark);
    font-weight: 600;
    cursor: pointer;
    margin: 5px 0 20px 0;
  }
}
