.header {
  background: var(--dark);
  color: var(--white);
  width: 100%;
  margin: 0 0 40px 0;
  &__container {
    height: 100px;
    display: flex;
    width: 500px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    color: var(--white);
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 15px;
  }
}
