@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark: #20232a;
  --white: #fff;
}

body {
  overflow-y: scroll;
}

.wrapper {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #f7f7f7;
  padding: 0 0 30px 0;
}

.header {
  background: var(--dark);
  color: var(--white);
  width: 100%;
  &__container {
    height: 100px;
    display: flex;
    width: 500px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    color: var(--white);
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 15px;
  }
}

.main {
  margin: 40px 0 0 0;
  text-align: center;
}
